<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-3 mt-5">
      <p class="text-main fw-bold fs-5 pt-5 mt-5"></p>
      <!--新規投稿順サイドバー-->
      <%= render 'layouts/sidebar_posts' %>
    </div>
    
    <div class="col-md-9 d-flex justify-content-between">
      <div class="col-md-11 mt-3 ms-4">
        <div class="mt-5">
          <div class="row">
            <div class="col mt-5">
              <div class="d-block border border-primary mt-5 text-center pt-2">
                <h4 class="h4">属性診断</h4>
              </div>
              <div class="mt-3">
                <div class="fs-6">パワースポットには相性があることをご存知でしょうか？</div>
                <div class="fs-6">あなたの繭気属性（けんきぞくせい）『水』『火』『風』『空』『地』を知って最適な場所に行くために属性診断をしてみましょう！</div>
                <div class="fs-6 text-center mt-5"><h5>生年月日と血液型を入力してください。</h5></div>
              </div>

              <div class="row mx-auto col-md-10">
                <div class="col-md-3 p-2 my-3">
                  <select class="form-select text-left py-2 fw-bold form-select-lg border border-secondary border-2" style="border-radius: 0.5rem;" name="byear" id="year">
                    <% @youngest_year.downto(@oldest_year) do |year| %>
                      <% if year == 1980 %>
                        <option value="<%= year %>" selected=""><%= year %></option>
                      <% else %>
                        <option value="<%= year %>"><%= year %></option>
                      <% end %>
                    <% end %>
                    <!--<option value="2022">2022</option>-->
                    <!--<option value="2021">2021</option>-->
                    <!--<option value="2020">2020</option>-->
                    <!--<option value="2019">2019</option>-->
                    <!--<option value="2018">2018</option>-->
                    <!--<option value="2017">2017</option>-->
                    <!--<option value="2016">2016</option>-->
                    <!--<option value="2015">2015</option>-->
                    <!--<option value="2014">2014</option>-->
                    <!--<option value="2013">2013</option>-->
                    <!--<option value="2012">2012</option>-->
                    <!--<option value="2011">2011</option>-->
                    <!--<option value="2010">2010</option>-->
                    <!--<option value="2009">2009</option>-->
                    <!--<option value="2008">2008</option>-->
                    <!--<option value="2007">2007</option>-->
                    <!--<option value="2006">2006</option>-->
                    <!--<option value="2005">2005</option>-->
                    <!--<option value="2004">2004</option>-->
                    <!--<option value="2003">2003</option>-->
                    <!--<option value="2002">2002</option>-->
                    <!--<option value="2001">2001</option>-->
                    <!--<option value="2000">2000</option>-->
                    <!--<option value="1999">1999</option>-->
                    <!--<option value="1998">1998</option>-->
                    <!--<option value="1997">1997</option>-->
                    <!--<option value="1996">1996</option>-->
                    <!--<option value="1995">1995</option>-->
                    <!--<option value="1994">1994</option>-->
                    <!--<option value="1993">1993</option>-->
                    <!--<option value="1992">1992</option>-->
                    <!--<option value="1991">1991</option>-->
                    <!--<option value="1990">1990</option>-->
                    <!--<option value="1989">1989</option>-->
                    <!--<option value="1988">1988</option>-->
                    <!--<option value="1987">1987</option>-->
                    <!--<option value="1986">1986</option>-->
                    <!--<option value="1985">1985</option>-->
                    <!--<option value="1984">1984</option>-->
                    <!--<option value="1983">1983</option>-->
                    <!--<option value="1982">1982</option>-->
                    <!--<option value="1981">1981</option>-->
                    <!--<option value="1980" selected="">1980</option>-->
                    <!--<option value="1979">1979</option>-->
                    <!--<option value="1978">1978</option>-->
                    <!--<option value="1977">1977</option>-->
                    <!--<option value="1976">1976</option>-->
                    <!--<option value="1975">1975</option>-->
                    <!--<option value="1974">1974</option>-->
                    <!--<option value="1973">1973</option>-->
                    <!--<option value="1972">1972</option>-->
                    <!--<option value="1971">1971</option>-->
                    <!--<option value="1970">1970</option>-->
                    <!--<option value="1969">1969</option>-->
                    <!--<option value="1968">1968</option>-->
                    <!--<option value="1967">1967</option>-->
                    <!--<option value="1966">1966</option>-->
                    <!--<option value="1965">1965</option>-->
                    <!--<option value="1964">1964</option>-->
                    <!--<option value="1963">1963</option>-->
                    <!--<option value="1962">1962</option>-->
                    <!--<option value="1961">1961</option>-->
                    <!--<option value="1960">1960</option>-->
                    <!--<option value="1959">1959</option>-->
                    <!--<option value="1958">1958</option>-->
                    <!--<option value="1957">1957</option>-->
                    <!--<option value="1956">1956</option>-->
                    <!--<option value="1955">1955</option>-->
                    <!--<option value="1954">1954</option>-->
                    <!--<option value="1953">1953</option>-->
                    <!--<option value="1952">1952</option>-->
                    <!--<option value="1951">1951</option>-->
                    <!--<option value="1950">1950</option>-->
                    <!--<option value="1949">1949</option>-->
                    <!--<option value="1948">1948</option>-->
                    <!--<option value="1947">1947</option>-->
                    <!--<option value="1946">1946</option>-->
                    <!--<option value="1945">1945</option>-->
                    <!--<option value="1944">1944</option>-->
                    <!--<option value="1943">1943</option>-->
                    <!--<option value="1942">1942</option>-->
                    <!--<option value="1941">1941</option>-->
                    <!--<option value="1940">1940</option>-->
                    <!--<option value="1939">1939</option>-->
                    <!--<option value="1938">1938</option>-->
                    <!--<option value="1937">1937</option>-->
                    <!--<option value="1936">1936</option>-->
                    <!--<option value="1935">1935</option>-->
                  </select>
                </div>
  
                <div class="col-md-3 p-2 my-3">
                  <select class="form-select text-left py-2 fw-bold form-select-lg border border-secondary border-2" style="border-radius: 0.5rem" name="bmonth">
                    <% for month in 1..12 do %>
                      <option value="<%= month %>"><%= month %></option>
                    <% end %>
                    <!--<option value="1">1</option>-->
                    <!--<option value="2">2</option>-->
                    <!--<option value="3">3</option>-->
                    <!--<option value="4">4</option>-->
                    <!--<option value="5">5</option>-->
                    <!--<option value="6">6</option>-->
                    <!--<option value="7">7</option>-->
                    <!--<option value="8">8</option>-->
                    <!--<option value="9">9</option>-->
                    <!--<option value="10">10</option>-->
                    <!--<option value="11">11</option>-->
                    <!--<option value="12">12</option>-->
                  </select>
                </div>
                
                <div class="col-md-3 p-2 my-3">
                  <select class="form-select text-left py-2 fw-bold form-select-lg border border-secondary border-2" style="border-radius: 0.5rem" name="bday">
                    <% for day in 1..31 do %>
                      <option value="<%= day %>"><%= day %></option>
                    <% end %>
                    <!--<option value="1">1</option>-->
                    <!--<option value="2">2</option>-->
                    <!--<option value="3">3</option>-->
                    <!--<option value="4">4</option>-->
                    <!--<option value="5">5</option>-->
                    <!--<option value="6">6</option>-->
                    <!--<option value="7">7</option>-->
                    <!--<option value="8">8</option>-->
                    <!--<option value="9">9</option>-->
                    <!--<option value="10">10</option>-->
                    <!--<option value="11">11</option>-->
                    <!--<option value="12">12</option>-->
                    <!--<option value="13">13</option>-->
                    <!--<option value="14">14</option>-->
                    <!--<option value="15">15</option>-->
                    <!--<option value="16">16</option>-->
                    <!--<option value="17">17</option>-->
                    <!--<option value="18">18</option>-->
                    <!--<option value="19">19</option>-->
                    <!--<option value="20">20</option>-->
                    <!--<option value="21">21</option>-->
                    <!--<option value="22">22</option>-->
                    <!--<option value="23">23</option>-->
                    <!--<option value="24">24</option>-->
                    <!--<option value="25">25</option>-->
                    <!--<option value="26">26</option>-->
                    <!--<option value="27">27</option>-->
                    <!--<option value="28">28</option>-->
                    <!--<option value="29">29</option>-->
                    <!--<option value="30">30</option>-->
                    <!--<option value="31">31</option>-->
                  </select>
                </div>

                <div class="col-md-3 p-2 my-3">
                  <select class="form-select text-left py-2 fw-bold form-select-lg border border-secondary border-2" style="border-radius: 0.5rem" name="bltype">
                    <% ["A", "B", "O", "AB"].each do |blood_type| %>
                      <option value="<%= blood_type %>"><%= blood_type %>型</option>
                    <% end %>
                    <!--<option value="1">A型</option>-->
                    <!--<option value="2">B型</option>-->
                    <!--<option value="3">O型</option>-->
                    <!--<option value="4">AB型</option>-->
                  </select>
                </div>
                <button class="btn btn-primary btn-lg col-md-6 mx-auto fw-bold my-4" type="submit">判定する</button>
              </div>

              <!--<div class="row">-->
              <!--  <div class="col-md-3">col-md-3</div>-->
              <!--  <div class="col-md-6 col-md-offset-3">col-md-6 col-md-offset-3</div>-->
              <!--</div>-->
  
              <div class="d-block border border-primary mt-5 text-center pt-2">
                <h4 class="h4">あなたの属性</h4>
              </div>
              
              <div class="d-flex align-items-center justify-content-center my-4" style="height: 100px; background: red;">
                <h2 class="text-white">あなたは</h2>
                <h2 class="text-dark">「火属性」</h2>
                <h2 class="text-white">です！</h2>
              </div>
              
              <div class="fw-bold">
                <a href="#">→「火属性」と相性がいいパワースポットについてはこちら</a>
              </div>


              <div class="d-block border border-primary mt-5 text-center pt-2">
                <h4 class="h4">属性相性早見表</h4>
              </div>
              
              <div class="row mt-5">
                <div class="col-md-6">
                  <!--<img src='status.png'>-->
                  <%= image_tag 'status.png', class: 'w-100 d-block carousel-item-image', alt: 'status' %>
                </div>
                <div class="col-md-5" style="margin-left: 50px;">
                  <div class="mb-4">
                    <p>基本的に、隣り合った属性は相性が悪く、隣り合った属性のパワースポットに行くと、利益を受けにくいと言われています。以下の相性早見表であなたと相性が良い属性と相性が悪い属性を確認してみて下さい！</p>
                  </div>
                  <b>相性早見表</b>
                  <table class="table table-bordered border-secondary">
                    <tr class="table-primary text-center">
                      <td>あなたの属性</td><td>相性良い</td><td>相性悪い</td>
                    </tr>
                    <tr class="text-center">
                      <td class="table-primary">空</td><td>空水火</td><td>地風</td>
                    </tr>
                    <tr class="text-center">
                      <td class="table-primary">地</td><td>地火風</td><td>水空</td>
                    </tr>
                    <tr class="text-center">
                      <td class="table-primary">水</td><td>水風空</td><td>火地</td>
                    </tr>
                    <tr class="text-center">
                      <td class="table-primary">火</td><td>火空地</td><td>風水</td>
                    </tr>
                    <tr class="text-center">
                      <td class="table-primary">風</td><td>風地水</td><td>空火</td>
                    </tr>                    
                  </table>
                </div>
              </div>
              
              
              <div class="d-block border border-primary my-5 text-center pt-2">
                <h4 class="h4">都道府県別パワースポット</h4>
              </div>
              
              <div class="category_list mt-4">
                <div class="area-ttl area-color1 trapezoid-polygon-1">
                  <span>北海道・東北地方</span>
                </div>
                <div>
                  <a href="#" value="1">北海道</a>
                  <a href="#" value="2">青森県</a>
                  <a href="#" value="3">岩手県</a>
                  <a href="#" value="4">宮城県</a>
                  <a href="#" value="5">秋田県</a>
                  <a href="#" value="6">山形県</a>
                  <a href="#" value="7">福島県</a>
                </div>
              </div>

              <div class="category_list mt-4">
                <div class="area-ttl area-color2 trapezoid-polygon-2">
                  <span>関東地方</span>
                </div>
                <div>
                  <a href="#" value="8">茨城県</a>
                  <a href="#" value="9">栃木県</a>
                  <a href="#" value="10">群馬県</a>
                  <a href="#" value="11">埼玉県</a>
                  <a href="#" value="12">千葉県</a>
                  <a href="#" value="13">東京都</a>
                  <a href="#" value="14">神奈川県</a>
                </div>
              </div>

              <div class="category_list mt-4">
                <div class="area-ttl area-color3 trapezoid-polygon-2">
                  <span>中部地方</span>
                </div>
                <div>
                  <a href="#" value="15">新潟県</a>
                  <a href="#" value="16">富山県</a>
                  <a href="#" value="17">石川県</a>
                  <a href="#" value="18">福井県</a>
                  <a href="#" value="19">山梨県</a>
                  <a href="#" value="20">長野県</a>
                  <a href="#" value="21">岐阜県</a>
                  <a href="#" value="22">静岡県</a>
                  <a href="#" value="23">愛知県</a>
                </div>
              </div>

              <div class="category_list mt-4">
                <div class="area-ttl area-color4 trapezoid-polygon-2">
                  <span>関西地方</span>
                </div>
                <div>
                  <a href="#" value="24">三重県</a>
                  <a href="#" value="25">滋賀県</a>
                  <a href="#" value="26">京都府</a>
                  <a href="#" value="27">大阪府</a>
                  <a href="#" value="28">兵庫県</a>
                  <a href="#" value="29">奈良県</a>
                  <a href="#" value="30">和歌山県</a>
                </div>
              </div>

              <div class="category_list mt-4">
                <div class="area-ttl area-color5 trapezoid-polygon-2">
                  <span>中国地方</span>
                </div>
                <div>
                  <a href="#" value="31">鳥取県</a>
                  <a href="#" value="32">島根県</a>
                  <a href="#" value="33">岡山県</a>
                  <a href="#" value="34">広島県</a>
                  <a href="#" value="35">山口県</a>
                </div>
              </div>

              <div class="category_list mt-4">
                <div class="area-ttl area-color6 trapezoid-polygon-2">
                  <span>四国地方</span>
                </div>
                <div>
                  <a href="#" value="36">徳島県</a>
                  <a href="#" value="37">香川県</a>
                  <a href="#" value="38">愛媛県</a>
                  <a href="#" value="39">高知県</a>
                </div>
              </div>

              <div class="category_list mt-4 mb-5">
                <div class="area-ttl area-color7 trapezoid-polygon-2">
                  <span>九州地方・沖縄</span>
                </div>
                <div>
                  <a href="#" value="40">福岡県</a>
                  <a href="#" value="41">佐賀県</a>
                  <a href="#" value="42">長崎県</a>
                  <a href="#" value="43">熊本県</a>
                  <a href="#" value="44">大分県</a>
                  <a href="#" value="45">宮崎県</a>
                  <a href="#" value="46">鹿児島県</a>
                  <a href="#" value="47">沖縄県</a>
                </div>
              </div>
              
        <!--      <div class="card mt-5 bg-white py-3">-->
        <!--        <div class="d-flex justify-content-between px-4">-->
        <!--          <div>-->
        <!--            <%#= image_tag 'pikasta・icon4.jpg', alt: 'icon4', class: 'rounded-circle flex-shrink-0 me-3 fit-cover d-inline-block', width: '59px' %>-->
        <!--            <p class="mb-0 fs-5 d-inline-block">name_acount</p>-->
        <!--            <p class="text-muted mb-0 fs-5 pt-3 mb-3">新しい家族を迎えました！</p>-->
        <!--          </div>-->
        <!--          <div class="dropdown">-->
        <!--            <button class="btn text-main bg-white" aria-expanded="false" data-bs-toggle="dropdown" type="button">-->
                      <%#= displayed_svg 'config.svg' %>
        <!--            </button>-->
        <!--            <div class="dropdown-menu dropdown-menu-end rounded-3 pt-0 pb-0 mt-2" style="min-width: 107px; border-bottom: 2px solid #D5D5D5;">-->
        <!--              <a class="dropdown-item text-main py-3" href="#" style="font-size: 14px;border: 1px solid #D5D5D5;">-->
                        <%#= displayed_svg 'detail.svg' %>
        <!--                詳細-->
        <!--              </a>-->
        <!--              <a class="dropdown-item text-main py-3" href="#" style="font-size: 14px;border: 1px solid #D5D5D5;">-->
                        <%#= displayed_svg 'edit.svg' %>
        <!--                編集-->
        <!--              </a>-->
        <!--              <a class="dropdown-item text-main py-3" href="#" style="font-size: 14px; border: 1px solid #D5D5D5;">-->
                        <%#= displayed_svg 'delete.svg' %>
        <!--                削除-->
        <!--              </a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
                
        <!--        <div class="carousel slide" data-bs-ride="false" id="carousel-5">-->
        <!--          <div class="carousel-inner" style="height: 635px;">-->
        <!--            <div class="carousel-item active img-slide">-->
        <!--              <%#= image_tag 'pikasta・dog_1.jpg', class: 'w-100 d-block position-absolute carousel-item-image', alt: 'dog1' %>-->
        <!--            </div>-->
        <!--            <div class="carousel-item img-slide">-->
        <!--              <%#= image_tag 'pikasta・dog_2.jpg', class: 'w-100 d-block carousel-item-image', alt: 'dog2' %>-->
        <!--            </div>-->
        <!--            <div class="carousel-item img-slide">-->
        <!--              <%#= image_tag 'pikasta・dog_3.jpg', class: 'w-100 d-block carousel-item-image', alt: 'dog3' %>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div>-->
        <!--            <a class="carousel-control-prev" href="#carousel-5" role="button" data-bs-slide="prev">-->
        <!--              <span class="carousel-control-prev-icon"></span>-->
        <!--              <span class="visually-hidden">Previous</span>-->
        <!--            </a>-->
        <!--            <a class="carousel-control-next" href="#carousel-5" role="button" data-bs-slide="next">-->
        <!--              <span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span>-->
        <!--            </a>-->
        <!--          </div>-->
                  
        <!--          <ol class="carousel-indicators" id="indicators-style-4" style="margin-right: 50%;margin-left: 47%;width: 30px;">-->
        <!--            <li data-bs-target="#carousel-5" data-bs-slide-to="0" class="active"></li>-->
        <!--            <li data-bs-target="#carousel-5" data-bs-slide-to="1"></li>-->
        <!--            <li data-bs-target="#carousel-5" data-bs-slide-to="2"></li>-->
        <!--          </ol>-->
        <!--        </div>-->
        <!--        <div class="card-body d-flex align-items-center" style="padding-top: 5px;padding-bottom: 5px;height: 40px;background: #FFFFFF;">-->
        <!--          <div class="d-flex justify-content-start">-->
        <!--            <a class="text-decoration-none pt-3 pe-3" href="#">-->
        <!--              <p class="fs-5 fw-bold mb-0" style="color: #9399E5;">#dog</p>-->
        <!--            </a>-->
        <!--            <a class="text-decoration-none pt-3 pe-3" href="#">-->
        <!--              <p class="fs-5 fw-bold mb-0" style="color: #9399E5;">#animals</p>-->
        <!--            </a>-->
        <!--            <a class="text-decoration-none pt-3" href="#">-->
        <!--              <p class="fs-5 fw-bold mb-0" style="color: #9399E5;">#cute</p>-->
        <!--            </a>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <div class="col" style="min-width: 100%;">-->
        <!--      <p class="fs-5 pt-4 text-purple">コメント</p>-->
        <!--      <div class="card box-shadow bg-white rounded-3 border-0 py-3 px-4 mb-4">-->
        <!--        <div class="d-flex align-items-center pt-3">-->
        <!--          <%#= image_tag 'pikasta・icon1.jpg', alt: 'icon_1', class: 'rounded-circle flex-shrink-0 me-3 fit-cover', width: '35px' %>-->
        <!--          <div class="d-lg-flex" style="padding-right: 10px;">-->
        <!--            <p class="mb-0 fs-6" style="color: #444444;">Flower12345</p>-->
        <!--          </div>-->
        <!--          <div class="d-lg-flex">-->
        <!--            <p class="mb-0 ps-2 text-main" style="font-size: 14px;">2023.3.10</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="card-body pb-4 px-0">-->
        <!--          <p class="card-text text-main pt-2" style="font-size: 14px;">とっても可愛いですね！お部屋もおしゃれで素敵です。私もいつか犬を飼うのが夢です...！！</p>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <div class="card box-shadow bg-white rounded-3 border-0 py-3 px-4 mb-4">-->
        <!--        <div class="d-flex align-items-center pt-3">-->
        <!--          <%#= image_tag 'pikasta・icon4.jpg', alt: 'icon_4', class: 'rounded-circle flex-shrink-0 me-3 fit-cover', width: '35px' %>-->
        <!--          <div class="d-lg-flex" style="padding-right: 10px;">-->
        <!--            <p class="mb-0 fs-6" style="color: #444444;">name_acount</p>-->
        <!--          </div>-->
        <!--          <div class="d-lg-flex">-->
        <!--            <p class="mb-0 ps-2 text-main" style="font-size: 14px;">2023.3.10</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="card-body pb-4 px-0">-->
        <!--          <p class="card-text text-main pt-2" style="font-size: 14px;">ふわふわでたまりませんね♡うちの子に似てる！</p>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <div class="col my-4">-->
        <!--      <div class="card d-flex">-->
        <!--        <div class="card-body box-shadow py-4">-->
        <!--          <div class="d-flex justify-content-center align-items-center" style="font-size: 14px;">-->
        <!--            <p class="text-main">コメントを入力するには-->
        <!--              <a class="text-decoration-none text-purple" href="users/sign_in">ログイン</a>-->
        <!--              が必要です-->
        <!--            </p>-->
        <!--          </div>-->
        <!--          <div class="d-flex justify-content-center">-->
        <!--            <p class="d-flex align-items-center text-main" style="margin-bottom: 0px;font-size: 14px;">登録がまだの方は<br></p>-->
        <!--            <a class= "btn btn-primary bg-purple border-0 px-4 ms-3" href="users/sign_up">無料会員登録</a>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div><!--row-->
        <!--</div>-->
        <!--<div>-->
        <!--  <div class="row">-->
        <!--    <div class="col mt-5">-->
        <!--      <div class="card mt-5 bg-white py-3">-->
        <!--        <div class="d-flex justify-content-between px-4">-->
        <!--          <div>-->
        <!--            <%#= image_tag 'pikasta・icon8.png', alt: 'icon8', class: 'rounded-circle flex-shrink-0 me-3 fit-cover d-inline-block', width: '59px' %>-->
        <!--            <p class="mb-0 fs-5 d-inline-block">panda.0205</p>-->
        <!--            <p class="text-muted mb-0 fs-5 pt-3 mb-3">海外旅行</p>-->
        <!--          </div>-->
        <!--          <div class="dropdown">-->
        <!--            <button class="btn text-main bg-white" aria-expanded="false" data-bs-toggle="dropdown" type="button">-->
                      <%#= displayed_svg 'config.svg' %>
        <!--            </button>-->
        <!--            <div class="dropdown-menu dropdown-menu-end rounded-3 pt-0 pb-0 mt-2" style="min-width: 107px; border-bottom: 2px solid #D5D5D5;">-->
        <!--              <a class="dropdown-item text-main py-3" href="posts/1" style="font-size: 14px;border: 1px solid #D5D5D5;">-->
                        <%#= displayed_svg 'detail.svg' %>
        <!--                詳細-->
        <!--              </a>-->
        <!--              <a class="dropdown-item text-main py-3" href="posts/1/edit" style="font-size: 14px;border: 1px solid #D5D5D5;">-->
                        <%#= displayed_svg 'edit.svg' %>
        <!--                編集-->
        <!--              </a>-->
        <!--              <a class="dropdown-item text-main py-3" href="#" style="font-size: 14px; border: 1px solid #D5D5D5;">-->
                        <%#= displayed_svg 'delete.svg' %>
        <!--                削除-->
        <!--              </a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
                
        <!--        <div class="carousel slide" data-bs-ride="false" id="carousel-6">-->
        <!--          <div class="carousel-inner" style="height: 635px;">-->
        <!--            <div class="carousel-item active img-slide">-->
        <!--              <%#= image_tag 'pikasta・lake_1.jpg', class: 'w-100 d-block position-absolute carousel-item-image', alt: 'lake1' %>-->
        <!--            </div>-->
        <!--            <div class="carousel-item img-slide">-->
        <!--              <%#= image_tag 'pikasta・lake_2.jpg', class: 'w-100 d-block carousel-item-image', alt: 'lake2' %>-->
        <!--            </div>-->
        <!--            <div class="carousel-item img-slide">-->
        <!--              <%#= image_tag 'pikasta・lake_3.jpg', class: 'w-100 d-block carousel-item-image', alt: 'lake3' %>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div>-->
        <!--            <a class="carousel-control-prev" href="#carousel-6" role="button" data-bs-slide="prev">-->
        <!--              <span class="carousel-control-prev-icon"></span>-->
        <!--              <span class="visually-hidden">Previous</span>-->
        <!--            </a>-->
        <!--            <a class="carousel-control-next" href="#carousel-6" role="button" data-bs-slide="next">-->
        <!--              <span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span>-->
        <!--            </a>-->
        <!--          </div>-->
                  
        <!--          <ol class="carousel-indicators" id="indicators-style-4" style="margin-right: 50%;margin-left: 47%;width: 30px;">-->
        <!--            <li data-bs-target="#carousel-6" data-bs-slide-to="0" class="active"></li>-->
        <!--            <li data-bs-target="#carousel-6" data-bs-slide-to="1"></li>-->
        <!--            <li data-bs-target="#carousel-6" data-bs-slide-to="2"></li>-->
        <!--          </ol>-->
        <!--        </div>-->
        <!--        <div class="card-body d-flex align-items-center" style="padding-top: 5px;padding-bottom: 5px;height: 40px;background: #FFFFFF;">-->
        <!--          <div class="d-flex justify-content-start">-->
        <!--            <a class="text-decoration-none pt-3 pe-3" href="#">-->
        <!--              <p class="fs-5 fw-bold mb-0" style="color: #9399E5;">#pikasta</p>-->
        <!--            </a>-->
        <!--            <a class="text-decoration-none pt-3 pe-3" href="#">-->
        <!--              <p class="fs-5 fw-bold mb-0" style="color: #9399E5;">#traveltoor</p>-->
        <!--            </a>-->
        <!--            <a class="text-decoration-none pt-3" href="#">-->
        <!--              <p class="fs-5 fw-bold mb-0" style="color: #9399E5;">#lake</p>-->
        <!--            </a>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <div class="col" style="min-width: 100%;">-->
        <!--      <p class="fs-5 pt-4 text-purple">コメント</p>-->
        <!--      <form class="w-100">-->
        <!--        <textarea placeholder="コメントを投稿..." class="rounded-3 ps-3 pt-3 md-4 pd-5 bg-white mt-4 border border-0 lh-lg box-shadow" style="font-size: 14px; min-height: 150px; min-width: 100%;"></textarea>-->
        <!--        <div class="d-flex justify-content-end md-5">-->
        <!--          <button class="btn text-white fs-5 bg-purple box-shadow rounded-5 mt-4 px-4" type="submit">コメントする</button>-->
        <!--        </div>-->
        <!--      </form>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>